.dashboardContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboardContent {
  flex: 1;
  padding: 20px;
  margin-top: 60px; /* Adjust this value to match your Navbar height */
}

